<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952671880682-eg4b62vucgps00s2ldmvlkeoe15d4o6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952671880682-eg4b62vucgps00s2ldmvlkeoe15d4o6m</string>
	<key>API_KEY</key>
	<string>AIzaSyA1M2uCg5sL3nTryKR_D4nJddM4P1pA-Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>952671880682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alti.Hackathon2</string>
	<key>PROJECT_ID</key>
	<string>hackathon2-28174</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon2-28174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952671880682:ios:dff049715b1069a7e75e93</string>
</dict>
</plist>